<% include ../partials/header.ejs %>

<main class="container">
    <h1 style="padding: 35px;">Surveys</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
        </div> <!-- panel-heading -->
        <% if (surveys.length > 0) { %>
        <div class="panel-body table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>Survey</th>

                </tr>
                </thead>
                </tbody>
                <% for (var i = 0; i < surveys.length; i++) { %>
                <tr>
                    <td>
                        <a href="/guests/live/<%= surveys[i]._id %>"><%= surveys[i].surveyTopic %></a>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div> <!-- panel-body -->
        <% } %>
    </div><!-- panel panel-default -->

</main>
<% include ../partials/footer.ejs %>
